<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Ratio Clothing Predictor</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">

        {% block body %} {% endblock %}

        <br> </br> 
        <footer class="footer">
            <p>&copy; K.N.Hanzlik 2015</p>
        </footer>

    </div>
</body>
 
</html>